*, body {
    margin: 0; padding: 0;
    font-family: helvetica, verdana, arial;
}

body {
    margin:30px;
    background-color: #9C3;
}

#login {
    width: 400px; padding:20px;
    margin: 0 auto 0 auto;
    border: 2px solid #390;
    background-color: #FFF;
    text-align:center;
}

#login h2 {
    margin-bottom:1.5em;
    color: #030;
}

#login p {
    margin-top: 1.5em;
}

.erro {
    color: red;
}

section {
    width: 90%; padding: 20px;
    margin: 0 auto 0 auto;
    border: 2px solid #390;
    background-color: #FFF;
}

section h1 {
    margin-bottom: 1.5em;
}

section ul {
    margin-left: 30px;
}

section .deslogar {
    margin-bottom: 2em;
    text-align: right;
}

a {
    color: #390;
}

a:visited {
    color: #030;
}

table {
    border-collapse: collapse;
    border: 1px solid #000;
}

th, td {
    padding: 5px;
    border: 1px solid #000;
}

th {
	font-weight: bold;
    background-color: #0D9;
}

form {
    margin-bottom: 1.5em;
}
